@media screen and (max-width:500px) {
  
    @font-face {
      font-family: 'PlayfairDisplay';
      src: url('PlayfairDisplay-Regular.woff') format('woff');
    }
      @font-face {
      font-family: 'source-sans-pro-regular';
      src: url('source-sans-pro-regular.woff') format('woff');
    }
     
    .circle {
       position: absolute;
       left: 30%;
       top: 30px;
          width: 200px;
          height: 200px;
          border-radius: 50%;
          text-align: center;
        }
    h2 {
      position: absolute;
      font-family: 'PlayfairDisplay', Fallback, Sans-serif;
      left: 30%;
      top: 250px;
    }
      p {
        position: absolute;
        text-align: center;
        width: 30vh;
        top: 300px;
        left: 15%;
        font-family: 'source-sans-pro-regular', Fallback, sans-serif;
      }
      .chat {
        position: absolute;
        height: 40px;
        width: 150px;
        background: orange;
        top: 385px;
        left: 30%
      }
      .letschat {
        position: absolute;
        top: 380px;
      }
      .mail {
        position: absolute;
        top: 395px;
        left: 32%
      }
      .one {
        position: absolute;
        background: gray;
        height: 400px;
        width: 95vw;
        top: 500px;
      }
      h3 {
      position: absolute;
      font-family: 'PlayfairDisplay', Fallback, Sans-serif;
      top: 900px;
    }
      .p1 {
        position: absolute;
        top: 925px;
        left: 0px;
      }
      .live {
        position: absolute;
        top: 1050px;
        left: 30%;
        height:40px;
        width: 150px;
        background: orange;
      }
      .live1 {
        position: absolute;
        left: 30%;
      }
    }